<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <filter>
	<filter-name>SessionFilter</filter-name>
	<filter-class>filter.SessionFilter</filter-class>
  </filter>
	<filter-mapping>
	<filter-name>SessionFilter</filter-name>
	<url-pattern>*.jsp</url-pattern>																																						
	</filter-mapping><filter-mapping>
	<filter-name>SessionFilter</filter-name>
	<url-pattern>*.action</url-pattern>																																						
	</filter-mapping>
	
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/regist.do</url-pattern>
  </servlet-mapping>
<servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/queryAll.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/queryByUserName.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/updateUserPassword.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/deleteById.action</url-pattern>
  </servlet-mapping>
  
  
</web-app>